<div class="container">
  <%= form_with(model: @user, local: true ) do |form| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= @user.errors.count %>件のエラーがあります。</h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="pic-container">
      <%= image_tag(@user.image.url, width:"200", class:"avator") if @user.image && @user.image.url %>
      <br>
      <label>
        <i class="fas fa-user-astronaut fa-lg"></i>
        <div class="field">
          <%= form.label :image %>
          <%= form.file_field :image %>
        </div>
      </label>
      <br>
      <i class="fas fa-signature fa-lg"></i>
      <%= form.text_field :name %>
      <br>
      <br>
      <i class="fas fa-at fa-lg"></i>
      <%= form.email_field :email %>
      <br>
      <br>
      <i class="fas fa-key fa-lg"></i>
      <%= form.password_field :password %>
      <br>
      <br>
      <i class="fas fa-key fa-lg second-key"></i>
      <%= form.password_field :password_confirmation %>
      <br>
      <br>
      <%= button_tag type: "submit", class: "submit-btn", title: "Submit" do %>
        <i class="fas fa-user-check fa-lg"></i>
      <% end %>
      |
      <%= link_to user_path(@user.id), title: "back" do %>
        <i class="fas fa-backspace fa-lg"></i>
      <% end %>
    </div>
  <% end %>
</div>
