<%= form_with(model: post, local: true, url:confirm_posts_path) do |form| %>
  <div class="field">
    <%= form.label :image %>
    
    <%= image_tag(@post.image.url) if @post.image && @post.image.url %>
    <%= form.label :content %>
    <%= form.text_field :content %>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
